<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer" class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
<!--            <img class="mb-2" src="../assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">-->
            <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">develop by maeve.</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">woozoolsd@gmail.com</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">java</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">springboot</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">javascript</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">bootstrap</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">github</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>