<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav justify-content-center">
            <li class="nav-item">
                <a th:href="@{/}"
                   aria-current="page" href="#" class="nav-link" >
                    home
                </a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    File Handling
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/file/images}">Image</a></li>
                    <li><a class="dropdown-item" th:href="@{/file/bmps}">BMP</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" th:href="@{/file/mp3s}">MP3</a></li>
                </ul>
            </li>
            <li sec:authorize="hasAnyRole('ADMIN','WRITE_ADMIN','SUPER_ADMIN')" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
        </ul>
        <form class="d-flex">
            <a sec:authorize="isAnonymous()" th:href="@{/login}" class="btn btn-outline-primary btn-sm ms-2" type="button">login</a>
            <a sec:authorize="isAnonymous()" th:href="@{/sign-up}" class="btn btn-outline-success btn-sm ms-2" type="button" style="width: 10em";>sign-up</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-outline-warning btn-sm ms-2" type="button">logout</a>
            <input class="form-control me-2 ms-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="button">Search</button>
        </form>
    </div>
</nav>
<script>
    const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
    const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new bootstrap.Dropdown(dropdownToggleEl))
</script>
</body>
</html>